{
  "extends": "airbnb-base",
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "no-multi-spaces": [
      1
    ],
    "object-curly-spacing": [
      1
    ],
    "max-len": [
      1
    ]
  }
}
